name: Publish TechDocs Site

on:
  workflow_call:

jobs:
  publish-techdocs-site:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      ENTITY_NAMESPACE: 'default'
      ENTITY_KIND: 'Component'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set app name based in repo name
        run: |
            echo "ENTITY_NAME=$(basename ${{ github.repository }})" >> $GITHUB_ENV

      - uses: 'google-github-actions/auth@v2'
        with:
          project_id: '${{ secrets.GCP_PROJECT_ID }}'
          workload_identity_provider: '${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}'

      - uses: actions/setup-node@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      # the 2 steps below can be removed if you aren't using plantuml in your documentation
      - name: setup java
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: download, validate, install plantuml and its dependencies
        run: |
          curl -o plantuml.jar -L http://sourceforge.net/projects/plantuml/files/plantuml.1.2021.4.jar/download
          echo "be498123d20eaea95a94b174d770ef94adfdca18  plantuml.jar" | sha1sum -c -
          mv plantuml.jar /opt/plantuml.jar
          mkdir -p "$HOME/.local/bin"
          printf "#%c/bin/sh\n\njava -jar /opt/plantuml.jar \${@}" ! >> "$HOME/.local/bin/plantuml"
          chmod +x "$HOME/.local/bin/plantuml"
          echo "$HOME/.local/bin" >> "GITHUB_PATH"
          sudo apt-get install -y graphviz

      - name: Install techdocs-cli
        run: sudo npm install -g @techdocs/cli

      - name: Install mkdocs and mkdocs plugins
        run: python -m pip install mkdocs-techdocs-core==1.*

      - name: Generate docs site
        run: techdocs-cli generate --no-docker --verbose

      - name: Publish docs site
        run: techdocs-cli publish --publisher-type googleGcs --storage-name "$TECHDOCS_BUCKET_NAME" --entity "$ENTITY_NAMESPACE/$ENTITY_KIND/$ENTITY_NAME"
